/*подключение шрифтов*/
@font-face {   
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {  
font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

html {
    font-family: Montserrat;
}
:root{
    --font-
    :14px;
}
/* 
Следующие 3 блока отвечают за фоновое видео
*/

#video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    min-height: 100%;}

.video-bg {
    overflow: hidden;
    z-index: 0;
    position: relative;
    padding-top:30%;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.7);
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: transparent;
    z-index: 10;
}

.btn {
    text-decoration: none;   
}

.nav-btns ul{
    list-style: none;
}

.container{
    width: 1400px;
}

.nav-logo a img{
    height: 2rem;
}

.spec{
    padding: 5px 1rem;
    width: 250px;
    border-left: 3px solid #f14d34;
}

.spec-upper {
    font-weight: bold;
    font-size: 22px;
}

#spec-1 .spec-upper{
    font-size: 48px;
}

.spec-bot {
    font-weight: lighter;
    font-size: 12px;

}

.img-pc {
    width: 40%;

}

#img-pc {
    margin-top: calc(10rem + 300px);
    width: 100%;
}

.exp-header {
    font-weight: bold;
}

.expertise {
    margin: auto;
}

/*задание фона, отступы*/
header .top{
    padding: 50px 100px; /*увеличили размер, отступы сверху и снизу, слева и справа*/
    box-sizing: border-box;/*ширина блока вместе с пэддингами*/
    background-color: black;
    padding-bottom: 200px;/*отступ снизу*/
    background-size: contain;
}

header .bottom{
  padding: 200px;
}

.button-tarif{
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    width: 220px;
    max-width: 100%;
    border-radius: 5px;/*закругление*/
    font-family: Montserrat;
    border:2px solid #f14d34;
    padding: 22px 20px; /*увеличили размер, отступы сверху и снизу, слева и справа*/
    margin: 70px auto;/*отступ сверху и снизу, вырвнивание по середине */

}


#block3{
    background-image: url(../img/druplicon.svg);
    background-color:rgba(0, 0, 0, 0.447);
    background-size: 100vw 500px;
    margin-top: -200px;
    background-repeat: no-repeat;
}


#block5 .text-bold{
    font-family: Montserrat-Bold;
    font-size:30px;
}

#block5{
    padding: 75px;
}

#block5 .flex{
    justify-content: space-between;
    margin-top: 30px;
    margin-left: -50px;
   
}

#block5 .mx-auto{
    margin-left: 0;/* переопределение стилей Саши! */
    margin-right: 0;/* переопределение стилей Саши! */
}

#block5 .spec_alt{
    /* outline: 1px red solid; */
    width: 20%; /* от ширины родителя */
    background-image: url(../img/Vector.png);
    background-position: 0 12%;
    background-repeat: no-repeat;
    padding-left: 50px;
}

#block5 .spec_alt img{
    width: 40%;
}

#block5 .spec-upper{
    font-family: Montserrat-Bold;/* переопределение стилей Саши! */
}

#block5 .spec-bot{
    font-size: 18px;
}


.years13{
    padding-top: 110px;
    padding-left: 120px;
    /* width: 100vw; */
    box-sizing: border-box;
    outline: 1px solid red;
    padding-right: 50px;

}
.years13 h2{
    background-color: white;
    color:black;
    font-size: 28px;;
    margin-bottom: 25px;
    font-family: Montserrat-Bold; 


}

.years13 .figures{
    display:flex;
    justify-content: flex-start;
    margin-top: 60px;
    flex-wrap: wrap; /* разрешить переход на новую строку */
}

.years13 figure{
    background-image: url(../img/Vector.png);
    background-position: 10% 8%;
    background-repeat: no-repeat;
    width: 20%;
    text-align: center;
    margin: 0;
    margin-right: 5%;
    /* outline: 1px solid green; */
}

.years13 figcaption{
    text-align: left;
    font-size: 18px;
    padding-left: 12px;
    width: 100%;
}

.years13 figure img{
    width: 40%;
}

/*
 БЛОК "ПОДДЕРЖКА ОТ DRUPAL-CODER
*/

#block2{
    margin-bottom: 0;
    height: 750px;
}

.header{
    width: 400px;
    margin: 5rem auto;
    font-size: 38px;
    font-family: Montserrat-Bold;
    font-weight: bold;
    text-align: center;
}

.table-4x2{
    width: 1200px;
    margin: 0 auto;
}

.table-item{
    border-radius: 5px;
    width: 260px;
    height: 290px;
    margin: 4px;
    background-color: white;
    box-shadow: 100px 50px 100px rgba(0, 0, 0, 0.04); /* Параметры тени */
    padding: 14px;
    z-index: 0;
}

.item-logo{
    height: 0px;
    position: relative;
    left: 193px;
    top: 224px;
    z-index: -1;
}

.item-logo img{
    height: 80px;
    width: 80px;
    border-radius: 5px;
}

.item-id{
    font-size: 10px;
    font-family: Montserrat-Bold;
    color: gray;
    margin-bottom: 1rem;
}

.item-header{
    font-size: 20px;
    font-family: Montserrat-Bold;
    margin-bottom: 1rem;
}

.item-text{
    color:gray;
    font-size: 20px;
    z-index: 10;
}


/*
 БЛОК: ТАРИФЫ
*/

.tarif{
    border: 1px solid gray;
    border-radius: 4px;
}

.tarif-header{
    color: #f14d34;
    font-family: Montserrat-Bold;
}

.tarif-specs{
    list-style-image: ✓;
}





.years13 h3{
    background-color: white;
    color: #4f5a73;
    font-size:18px;
    font-family: Montserrat; 

}

.expertise h2{
    font-family: Montserrat-Bold; 
    color: white;
    font-size:3vw;
    margin-left: 50%;
    margin-bottom: 30px;
}

.expertise h3{
    font-family: Montserrat; 
    color: #FFFFFFB3;
    font-size: var(--font-block);
    line-height: 200%;/*межстрочное расстояние*/
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    margin-left: 15px;
}

/* <<<<<<< HEAD<<<<<<< HEAD */
.expertise{
    /*background-color: black ;*/
    padding-top: 270px;
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%);
    /* padding-bottom: 80px; */
    /* height: 839px; */
    box-sizing: border-box;/* позволяет включить padding в height */
    background-image: url(img/druplicon.svg);
    padding-bottom: 0px;

}


/* ======= */

/* >>>>>>> 0f09cd851872619fdb29cc3d88c3136baec459a3
=======
>>>>>>> 9ebb814db2467f46dc4f621ca6aeec5758452ba3 */


.graphic{
    /* background-color: #040613; */
    background: url(../img/laptop.png);
    background-size: contain;
    height: 320px; 
    background-repeat: no-repeat;
    /* background-position:right 100px; */
    padding-top: 50px;
    /* background-clip: content-box; */
    width: 45%;
    margin-top: -350px;
    outline: 1px solid pink;
}

.graphic img{
    width: 100%;
    /* padding-top: 450px; */
    height: 100%;
    object-fit: contain;

}


.blocks a:hover{
    text-decoration: underline;/* подчёркивание при наведении */
}


@media (max-width:500px){
    .years13 .figures{
        margin: auto;
        margin-top: 60px;
    }

    .years13 h2, .years13 h3{
        margin-bottom: 20px;
    }

    .years13 figure{
        width: 35%;
        margin-right: 13%;
        background-size: 50%;
    }

    .years13{
        width: 100vw;
        margin: auto;
        padding-left:15px;
        padding-right:10px;
    }

    .years13 h3{
        /* outline: 1px solid blue; */
        font-size: 13px;
    }
}


/*
    Дальше я сделал общие классы, которые применимы ко всем блокам.

    Можно добавлять новые по необходимости,
            ! Но не изменять их !

    Желательно делать их максимально простыми, чтобы был понятен функционал.
*/

.color-white {
    color: white;
}

.flex {
    display: flex;
}

.text-bold {
    font-weight: 1000;
}

@media (min-width: 1200px){
.desktop-flex {
        display: flex;
    }
}

.mx-2 {
    margin-left: 0rem;
    margin-right: 0rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.fs-12 {
    font-size: 12px;
}

.blocks{
    display: flex;
    align-items: flex-start;/* выравнивание флексов по вертикали */
    width: 42%;
    /* border: 1px solid white; */
    flex-wrap: wrap;/* разрешили перенос флексов на новую строку */
    margin-left: 50%;
    
}


.blocks h3{
    width: 40%;
    margin: 0;
    font-size: var(--font-block);
    margin-top: 30px;
    margin-right: 10px;
    line-height: 120%;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.orange-text{
    color:  #f14d34;
}

