/*подключение шрифтов*/
@font-face {   
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {  
font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

html {
    font-family: Montserrat;
}
:root{
    --font-block:18px;
}
/* 
Следующие 3 блока отвечают за фоновое видео
*/

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.video-bg {
    overflow: hidden;
    z-index: 0;
    position: relative;
    width: 100%;
    padding-top:30%;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.7);
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: transparent;
    z-index: 10;
}

.btn {
    text-decoration: none;   
}

.nav-btns ul{
    list-style: none;
}

.container{
    width: 1400px;
}

.nav-logo a img{
    height: 2rem;
}

.achiev{
    padding: 1rem;
    width: 200px;
    border-left: 3px solid #f14d34;
}

.achiev-upper {
    font-weight: bold;
    font-size: 22px;
}

#achiev-1 .achiev-upper{
    font-size: 48px;
}

.achiev-bot {
    font-weight: lighter;
    font-size: 12px;

}

/*задание фона, отступы*/
header .top{
    padding: 50px 100px; /*увеличили размер, отступы сверху и снизу, слева и справа*/
    box-sizing: border-box;/*ширина блока вместе с пэддингами*/
    background-color: black;
    padding-bottom: 200px;/*отступ снизу*/
    background-size: contain;
}

header .bottom{
  padding: 200px;
}

.button-tarif{
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    width: 220px;
    max-width: 100%;
    border-radius: 5px;/*закругление*/
    font-family: Montserrat;
    border:2px solid #f14d34;
    padding: 22px 20px; /*увеличили размер, отступы сверху и снизу, слева и справа*/
    margin: 70px auto;/*отступ сверху и снизу, вырвнивание по середине */

}


.years13{
    padding-top: 110px;
    padding-left: 10vw;
    /* width: 100vw; */
    box-sizing: border-box;
    outline: 1px solid red;
    padding-right: 50px;

}
.years13 h2{
    background-color: white;
    color:black;
    font-size: 28px;;
    margin-bottom: 25px;
    font-family: Montserrat-Bold; 


}

.years13 .figures{
    display:flex;
    justify-content: flex-start;
    margin-top: 60px;
    flex-wrap: wrap; /* разрешить переход на новую строку */
}

.years13 figure{
    background-image: url(../img/Vector.png);
    background-position: 10% 8%;
    background-repeat: no-repeat;
    width: 20%;
    text-align: center;
    margin: 0;
    margin-right: 5%;
    /* outline: 1px solid green; */
}

.years13 figcaption{
    text-align: left;
    font-size: 18px;
    padding-left: 12px;
    width: 100%;
}

.years13 figure img{
    width: 40%;
}


.years13 h3{
    background-color: white;
    color: #4f5a73;
    font-size:18px;
    font-family: Montserrat; 

}

.expertise h2{
    font-family: Montserrat-Bold; 
    color: white;
    font-size:3vw;
}

.expertise h3{
    font-family: Montserrat; 
    color: #FFFFFFB3;
    font-size: 18px;
    line-height: 200%;/*межстрочное расстояние*/
    border-left: 3px solid #f14d34;
    padding-left: 30px;
    margin-left: 40px;
}

.expertise{
    /*background-color: black ;*/
    padding-top: 600px;
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),#040613;
    /*padding-bottom: 100px;*/
}

.graphic{
    background-color: #040613;
    background: url(druplicon.svg);
    background-size: 100% 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position:right 100px;
    padding-top: 50px;
    background-clip: content-box;
}

.graphic img{
    width: 80%;
    padding-top: 450px;
}

/*
    Дальше я сделал общие классы, которые применимы ко всем блокам.

    Можно добавлять новые по необходимости,
            ! Но не изменять их !

    Желательно делать их максимально простыми, чтобы был понятен функционал.
*/

.color-white {
    color: white;
}

.flex {
    display: flex;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.fs-12 {
    font-size: 12px;
}

.blocks{
    display: flex;
    align-items: flex-start;/* выравнивание флексов по вертикали */
    width: 50%;
    /* border: 1px solid white; */
    flex-wrap: wrap;/* разрешили перенос флексов на новую строку */
    margin-left: 40%;
    
}

.blocks h3{
    width: 40%;
    margin: 0;
    margin-top: 30px;
    margin-right: 10px;
    line-height: 120%;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blocks a{
    color:  #f14d34;
    text-decoration: none;/* убрать подчёркивание, как у ссылки */
}

.blocks a:hover{
    text-decoration: underline;/* подчёркивание при наведении */
}


@media (max-width:500px){
    .years13 .figures{
        margin: auto;
        margin-top: 60px;
    }

    .years13 h2, .years13 h3{
        margin-bottom: 20px;
    }

    .years13 figure{
        width: 35%;
        margin-right: 1%;
    }

    .years13{
        width: 100vw;
        margin:auto;
    }

    .years13 h3{
        /* outline: 1px solid blue; */
        font-size: 13px;
    }
}

