/*подключение шрифтов*/
@font-face {   
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {  
font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

html {
    font-family: Montserrat;
}

/* 
Следующие 3 блока отвечают за фоновое видео
*/

#video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    min-height: 100%;}

.video-bg {
    overflow: hidden;
    z-index: 0;
    position: relative;
    padding-top:30%;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.7);
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: transparent;
    z-index: 10;
}

.btn {
    text-decoration: none;   
}

.nav-btns ul{
    list-style: none;
}

.container{
    width: 1400px;
}

.nav-logo a img{
    height: 2rem;
}

.spec{
    padding: 1rem;
    width: 200px;
    border-left: 3px solid #f14d34;
}

.spec-upper {
    font-weight: bold;
    font-size: 22px;
}

#spec-1 .spec-upper{
    font-size: 48px;
}

.spec-bot {
    font-weight: lighter;
    font-size: 12px;

}

.img-pc {
    width: 40%;
}

#img-pc {
    margin-top: 10rem;
    width: 100%;
}

.exp-header {
    font-weight: bold;
}

.expertise {
    margin: auto;
}

/*задание фона, отступы*/
header .top{
    padding: 50px 100px; /*увеличили размер, отступы сверху и снизу, слева и справа*/
    box-sizing: border-box;/*ширина блока вместе с пэддингами*/
    background-color: black;
    padding-bottom: 200px;/*отступ снизу*/
    background-size: contain;
}

header .bottom{
  padding: 200px;
}

.button-tarif{
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    width: 220px;
    max-width: 100%;
    border-radius: 5px;/*закругление*/
    font-family: Montserrat;
    border:2px solid #f14d34;
    padding: 22px 20px; /*увеличили размер, отступы сверху и снизу, слева и справа*/
    margin: 70px auto;/*отступ сверху и снизу, вырвнивание по середине */

}


#block3{
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),#040613;
}



.years13{
    padding-top: 110px;
}
.years13 h2{
    background-color: white;
    color:black;
    font-size: 50px;;
    margin-bottom: 45px;
    font-family: Montserrat-Bold; 


}

.years13 .figures{
    display:flex;
    flex-wrap: wrap; /* разрешить переход на новую строку */
}

.years13 figure{
    background-image: url(Vector.png);
    background-position: 10% 20%;
    background-repeat: no-repeat;
    width: 40%;
    text-align: center;
}

.years13 figcaption{
    text-align: left;
    padding-left: 12px;
}

.years13 figure img{
    width: 40%;
}


.years13 h3{
    background-color: white;
    color: #4f5a73;
    font-size:30px;
    font-family: Montserrat; 

}

.graphic{
    background-color: #040613;
    background: url(druplicon.svg);
    background-size: 100% 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position:right 100px;
    padding-top: 50px;
    background-clip: content-box;
}

.graphic img{
    width: 80%;
    padding-top: 450px;
}

/*
    Дальше я сделал общие классы, которые применимы ко всем блокам.

    Можно добавлять новые по необходимости,
            ! Но не изменять их !

    Желательно делать их максимально простыми, чтобы был понятен функционал.
*/

.color-white {
    color: white;
}

.flex {
    display: flex;
}

.text-bold {
    font-weight: 1000;
}

@media (min-width: 1200px){
.desktop-flex {
        display: flex;
    }
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.fs-12 {
    font-size: 12px;
}
